
.listing {
    list-style: none;
    margin-top: 50px;
    padding: 0;

    &.resources {
        margin: 0;

        &.more {
            display: none;
        }
        &.featured {
            // placeholder for featured resource styles
        }
    }
    &.other-resources {
        li {
            background-color: inherit;
            padding: 10px 5px;

            > *:not(.icon) {
                margin-left: 90px;
            }
        }
    }

    li {
        //clear: left;
        background-color: #f7f4ee;
        padding: 15px;
        margin: 10px 0;

        @include breakpoint($desktop) {
            &:not(.resource) {
                width: 46%;
                min-height: 175px;
            }
        }

        @include breakpoint($tablet $extrawide) {
            p {
                font-size: 0.9em;
            }
        }

        $icon-size: 100px;

        min-height: $icon-size;

        > *:not(.icon) {
            margin-left: $icon-size + 20px;
        }

        .icon {
            background-color: #b7ac9d;
            @include circle-icon($icon-size);
        }

        a.icon {
            @include breakpoint($not-phone) {
                margin: 15px 0;
            }
        }

        p {
            display: none;

            @include breakpoint($not-phone) {
                display: block;
            }
        }

        &:not(.resource) h3 {
            text-transform: lowercase;
        }

        h3 {
            @include breakpoint($not-phone) {
                margin: 0;
            }

            a {
                color: $link-color;
            }
        }

        .more {
            display: block;
            color: $secondary-link-color;
            font-weight: bold;
        }

        .ifeatured {
        width: 75px;
        height: 75px;
        border-radius: 80px;
        margin: 0;
        }
    }
    @include breakpoint($desktop) {
        li:nth-child(odd) {
            &:not(.resource) {
                float: left;
                }
        }
        li:nth-child(even) {
            &:not(.resource) {
                float: right;
                }
        }
    }
    li:hover {
        background-color: #eeeae0;
    }
}

i.ifeatured {
    font-size: 50px;
    padding: 12px;
}
