
.widget.industries {

    dl {
        margin: 0;
        font-size: 1.2em;
        font-weight: 300;
    }

    dt {
        margin-top: 10px;
        font-size: 1.4em;
        text-transform: lowercase;

        a:hover {
            text-decoration: none;
        }

        &.active a {
            font-weight: normal;
            @include icon($icon-caret-down) {
                margin-right: 5px;
            }
        }

        &:not(.active) a {
            color: #352821;
            @include icon($icon-caret-right) {
                margin-right: 5px;
            }
        }
    }

    dd {
        font-style: italic;
        margin-lefT: 0;
    }
}

.industries-banner {
    background-color: #e8e0c2;
    width: 100%;
    height: auto;
    margin: 50px 0px 0px 0px !important;
    float: left;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    border-bottom: 5px solid #19acf1;

    h2 {
        text-align: center;
        font-size: 1.4em;
        background-color: #19acf1;
        margin: 0px;
        padding: 18px 0px;
        color: #ffffff;
        letter-spacing: 1px;
        font-weight: normal;
    }
    ul {
        font-size: 1.4em;
        margin-top: 25px;
        padding: 0 2%;
    }
    li {
        position: relative;
        list-style: none;
        float: left;
        margin: 10px 2%;
        width: 20%;

        div {
            text-transform: uppercase;
            text-align: center;

            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            a {
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
        p {
            font-size: .65em;
            color: #352821;
            font-weight: bold;
        }
    }
    .industrythree {
        width: 29%;
    }

    @include breakpoint($phone-only) {
        padding-bottom: 15px;
        ul {
            margin-top: 15px;
        }
        li {
            width: 46%;
            margin: 10px 1%;

            div {
                line-height: 1em;
                font-size: .8em;

                img {
                    width:35%;
                }
            }
        }
        .industrythree {
            width: 46%;
        }
        h2 {
            font-size: 1.3em;
        }
        p {
            display: none;
        }
        li:nth-child(3) {
            clear: left;
        }
        li:nth-child(3).industrythree {
            margin: 0 25%;
        }
    }

    @include breakpoint($tablet-only) {
        li {
            width: 20%;
            font-size: 0.9em;

            img {
                width:40%;
            }
        }

    }
}
