.widget.optinwidget {
    line-height: 1.3em;
    padding: 0px;
    background-color: #f7f4ee;
     @include breakpoint(max-width 1023px) {
        font-size: 0.75em;
     }
    @include breakpoint(max-width 767px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.0em;
        text-align: center;
    }

    a {
        display: block;
        font-weight: bold;
    }
    p {
        margin: 10px 20px;
        font-size: 1.1em;
        @include breakpoint(max-width 1023px) {
            margin: 5px 15px;
         }
    }
    .optinwidget-banner img {
        width: 100%;
        @include breakpoint(max-width 767px) {
            width: inherit;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .optinwidget-text {

    }
    .optinwidget-text a {
        text-transform: uppercase;
        margin: 15px auto;
        display: table;
        letter-spacing: 1px;
        font-weight: normal;
    }
}
