.widget {
    $widget-padding: 10px;

    font-size: .8em;
    padding: $widget-padding;
    border: 1px solid #ece4d9;
    @include box-sizing(border-box);

    h4, .widgettitle {
        margin: 0;
        margin-bottom: .5em;
        text-transform: uppercase;
    }

    .widgettitle {
        // In case widgets don't respect before and after title, style them as an h4
        font-size: 1em;
    }

    .full {
        margin-left: -$widget-padding;
        margin-right: -$widget-padding;
    }
}
